@use './partials/variables' as *;
@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow:wght@400;700&display=swap');


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'PT Sans Narrow', sans-serif;
}

.container {
  width: 70%;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}